* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bg-color: #272b33;
  --nav-color: #434b59;
  --header-color: #353b45;
  --card-bg-color: #1c1f25;
  --card-bg-dark: #15171c;
  --green: #55b99d;
  --text-dark: #1c1f25;
  --text-gray: #5b6472;
  --text-white: #fff;
  --font_default: "Roboto", sans-serif;
}


/* ---------- SCROLLBAR ---------- */

.moduls__container::-webkit-scrollbar {
  width: 14px;               /* width of the entire scrollbar */
}

.moduls__container::-webkit-scrollbar-track {
  background: var(--card-bg-dark);        /* color of the tracking area */
}

.moduls__container::-webkit-scrollbar-thumb {
  background-color: var(--header-color);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
  border: 3px solid var(--card-bg-dark);  /* creates padding around scroll thumb */
}

/* ---------- BODY ---------- */

body {
  min-height: calc(100vh - 0px);
  background-color: var(--bg-color);
  font-family: var(--font_default);
  color: var(--text-white);
  /* border-bottom: 1px red solid; */
  overflow: hidden;
}

header {
  height: 68px;
  background-color: var(--header-color);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

/* -------- HEADER -------- */

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burgerNav {
  width: 20px;
  height: 12px;
  background: url("../images/burger-nav.svg") no-repeat;
  background-size: cover;
}

.header__premium {
  display: none;
}

.header__profileImage {
  display: none;
}
.header__profileName {
  display: none;
}

.search {
  display: none;
}

/* -------- TABLET DESIGN -------- */
/* -------- TABLET DESIGN -------- */
/* -------- TABLET DESIGN -------- */
/* -------- TABLET DESIGN -------- */

@media (min-width: 780px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    height: 60px;
    justify-content: center;
  }

  .header__container {
    width: 100%;
    max-width: 760px;
    display: flex;
    justify-content: space-between;
    /* border: 1px purple dashed; */
  }

  main {
    /* border: 1px red solid; */
    flex-grow: 1;
  }

  .header__burgerNav {
    /* display: none; */
  }

  .header__premium {
    display: inline;
    margin-left: 20px;
  }

  .header__rightContainer {
    display: flex;
    align-items: center;
  }

  .header__profileImage {
    display: none;
  }

  .header__profileName {
    display: none;
  }

  .header__profileName:hover {
    text-decoration: underline;
  }

  .search {
    display: inline;
    width: 12.5rem;
    background: var(--bg-color) url("../images/search-icon.svg") no-repeat;
    background-position: 5% center;
    padding: 0.875rem;
    border: 0;
    border-radius: 10px;
    outline: none;
    color: var(--text-gray);
    font-size: 0.75rem;
    font-weight: 700;
    padding-left: 40px;
    margin-right: 2rem;
  }

  .search::placeholder {
    color: var(--nav-color);
  }
}
/* -------- DESKTOP DESIGN -------- */
/* -------- DESKTOP DESIGN -------- */
/* -------- DESKTOP DESIGN -------- */
/* -------- DESKTOP DESIGN -------- */

@media (min-width: 1000px) {
  main {
    display: flex;
  }
  .header__container {
    max-width: 1300px;
  }

  .header__profileImage {
    display: inline;
    border-radius: 50%;
    border: 2px var(--card-bg-color) solid;
    margin-right: 10px;
  }

  .header__profileName {
    display: inline;
    color: var(--text-white);
    text-decoration: none;
  }

  .header__burgerNav {
    display: none;
  }
  .cursos__video--container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .cursos__contenido-container {
    background: var(--text-dark);
    width: 50%;
    max-width: 312px;
    position: relative;
  }
  .cursos__contenido-hide {
    display: none;
    transition: 0.5s;
  }
  .button__show {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .img__hide {
    position: absolute;
    left: -32px;
    cursor: pointer;
    z-index: 3;
  }

  .curso__video {
    height: 100%;
  }
  .curso__video--description {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .videoDescription {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cursos__description--card {
    display: flex;
    height: 86%;
    width: 97%;
    border-radius: 10px;
    padding: 5px;
    /* margin: 10px; */
    box-sizing: content-box;
    background: var(--card-bg-dark);
  }
  .infoDescriptionCard {
    height: 70%;
  }
  .card__video--description {
    padding: 40px;
  }
  .infoDescriptionContainer {
    padding: 10px 40px;
  }
  .video__description--header {
    display: flex;
    align-items: center;
  }
  .video__description--header h3 {
    margin-left: 5px;
  }
  .video__description--info {
    margin-top: 10px;
    width: 93%;
    color: var(--text-gray);
  }
  .infoDescriptionParrafo {
    width: 100%;
  }

  
  .video__recursos {
    min-width: 240px;
    /* max-width: 340px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 263px;
    margin: 10px;
    border-radius: 5px;
    background: var(--text-dark);
    /* border: 1px purple dashed; */
    z-index: 999;
  }

/* ----------- RATING ----------- */

  .container{
    width: 185px;
    height: 36px;
    background: #15171C;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -20px;
}

.rating__title{
  color: var(--text-gray);
  font-size: .875rem;
  z-index: -2;
}

.cody{
    position: absolute;
    top: -25px;
    right: 0px;
    z-index: -1;
}

#happy{
    display: none;
}
#pokerFace{
    display: none;
}
#sad{
    display: none;
}

.rating-count {
    display: flex;
    background: #15171C;
    border-radius: 5px;
  }
  
  .rating-count input {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  
  .rating-count input + label {
    font-size: 0;
    display: block;
    width: 22px;
    height: 21px;
    cursor: pointer;
    background: url(../images/star-green.svg) no-repeat center / contain;
  }
  
  .rating-count label:hover ~ label,
  .rating-count:not(:hover) input:checked + label ~ label,
  .rating-count:not(:hover) input:invalid + label { background:url(../images/star-empty.svg) no-repeat center / contain;
  }
  
  .rating-count input + label:hover,
  .rating-count:not(:hover) input:focus + label {
    background-image:url(../images/star-green.svg);
  }




  @keyframes celebration {
    0%,
    100% {
            transform: translateY(0%);
            transform-origin: 50% 50%;
    }
    15% {transform: translateY(-20px) rotate(20deg);}
    30% {transform: translateY(15px) rotate(6deg);}
    45% {transform: translateY(-15px) rotate(-3.6deg);}
    60% {transform: translateY(9px) rotate(2.4deg);}
    75% {transform: translateY(-6px) rotate(-1.2deg);}
  }


/* ----------- RATING ----------- */

  .recursos {
    display: none;
  }

  .video__recursos button {
    height: 50px;
    width: 80%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    background: var(--green);
  }

  .video__recurso-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video__recurso-info h4 {
    color: var(--text-gray);
    margin-bottom: 5px;
    font-size: 14px;
  }

  .moduls__container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
   /*  position: absolute ;
			right: 0px ;
			top: 0px ; */

  }
  .moduls__container--li {
    width: 100%;
    display: flex;
    margin: 5px 0;
    align-items: center;
    flex-direction: column;
    outline: none;
  }
  .modul__containter-info {
    background: var(--card-bg-dark);
    width: 93%;
    min-width: 287px;
    padding: 10px;
    color: var(--text-gray);
    z-index: 1;
    box-sizing: border-box;
    height: 60px;
    border-radius: 10px;
  }

  .modul__containter-info div {
    display: flex;
    justify-content: space-between;
  }
  .modul__container--img {
    position: absolute;
    z-index: 1;
    right: 35px;
  }
  .video__group {
    position: relative;
    top: -15px;
    width: 93%;
    margin: 11px;
    list-style: none;
    bottom: -100px;
    color: var(--text-gray);
    min-width: 287px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    background: var(--bg-color);
  }

  .video__group > li :nth-child(1) {
    display: flex;
    justify-content: space-evenly;
  }
  .video__group > li :nth-child(2) {
    display: flex;
    justify-content: flex-end;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  summary {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    outline: none;
  }
}
