*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --bg-color: #272B33;
    --header-color: #353B45;
    --card-bg-color: #1C1F25;
    --green: #55B99D;
    --text-dark: #1C1F25;
    --text-gray: #B5B5B5;
    --text-white:#fff;
    --font_default: 'Roboto', sans-serif;
  }

body{
    background-color: var(--bg-color);
    font-family: var(--font_default);
    color: var(--text-white);
}

header{
    height: 68px;
    background-color: var(--header-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

/* -------- HEADER -------- */

.header__burgerNav{
    width: 20px;
    height: 12px;
    background: url('../images/burger-nav.svg') no-repeat;
    background-size: cover;
}

/* -------- PERSONAL NAVIGATION -------- */
.personalNav{
    height: 50px;
    background-color: var(--green);
    margin: 1.5rem 2rem;
    padding: 0 1.5rem;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personalNav--lines{
  content: '';
  width: 0px;
  height: 35px;
  border-right: 2px var(--text-dark) solid;
}

.personalNav__item{
    color: var(--text-dark);
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
}

.personalNav__image{
  width: 24px;
  height: 24px;
  /* border: 1px red solid; */
}

.personalNav__text{
    font-size: .75rem;
    font-weight: 700;
}

/* -------- CURSOS DESTACADOS -------- */
/* ---------CSS a etiquetas ------------ */
h2{
  font-size: 1.5rem;
  color: var(--text-gray);
  margin-left: 2rem;
  margin-bottom: .25rem;
}
/* ---------CSS a etiquetas ------------ */



/* ---------Cursos destacados inicio ------------ */

.destacados{
  width: 100vw;
}



.destacados__container{
  display: flex;
  /* border: 2px purple solid; */
}

.destacados__card{
  width: 85vw;
  max-width: 85%;
  height: 170px;
   
  padding: 20px;
  box-sizing: border-box;

  border-radius: 10px;
  background-color: var(--card-bg-color);
}


.destacados__titleContainer{
  display: flex;
  margin: 0 0 10px;
  align-items: center;
  /* border: 1px yellow dashed; */
}

.destacados__titleContainer--title {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.destacados__description {
  font-size: .875rem;
  margin-bottom: 15px;
  color: var(--text-gray);
}

.destacados__author{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.destacados__author--name{
  margin-left: 5px;
  color: var(--green);
}
/* ---------Cursos destacados fin ------------ */




/* ---------Cursos Nuevos inicio ------------ */
.cursosNuevos{
  width: 100%;
  /* border: 2px purple dashed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cursosNuevos__card{
  width: 85%;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--card-bg-color);
  /* border: 1px red solid; */
}

.cursosNuevos__card img{
  margin-right: 10px;
}

.cursosNuevos h2{
  margin-top: 1.5rem;
  align-self: flex-start;
}


/* -------- CLASES EN VIVO -------- */
.enVivo{
  margin-top: 1.5rem;
/*   display: flex;
  flex-direction: column; */
/*   border: 2px sandybrown dashed; */
  margin-left: 1.5rem;
  overflow: hidden;

  position: relative;
}

.enVivo h2{
  margin-left: 0rem;
}
.enVivo__container{
  /* display: flex; */
}

.enVivo__card{
  width: 200px;
  min-height: 180px;
  background-color: var(--card-bg-color);
  /* margin-right: 10px; */
  border-radius: 10px;
  box-sizing: border-box;
}

.enVivo__card img{
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.enVivo__card p{
  margin: 5px 0 0 10px;
  /* width: 175px; */
  font-size: 0.875rem;
  /* border: 1px rgb(82, 82, 82) dashed; */
}

.box{
  width: 50px;
  height: 100%;
  background: linear-gradient(270deg, #272B33 42%, rgba(39, 43, 51, 0.08) 100%);
  /* border: 1px rgb(82, 82, 82) dashed; */

  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* -------- FOOTER -------- */

footer{
  height: 75px;
  background-color: var(--card-bg-color);
  padding: 0 2rem;
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}